{% load i18n %}
<div id="filter">
    <a class="filter filter-current"
       href="?filter=current"
       title="{% trans 'Current spraying periods' %}"
    >
        <i class="fa fa-filter"></i>
    </a>
    <a class="filter filter-future"
       href="?filter=future"
       title="{% trans 'Future spraying periods' %}"
    >
        <i class="fa fa-filter"></i>
    </a>
    <a class="filter filter-past"
       href="?filter=past"
       title="{% trans 'Past spraying periods' %}"
    >
        <i class="fa fa-filter"></i>
    </a>
    <a class="filter filter-inactive"
       href="?filter=inactive"
       title="{% trans 'Inactive spraying periods' %}"
    >
        <i class="fa fa-filter"></i>
    </a>
</div>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const filter = urlParams.get('filter');
    if (filter) {
        for (el of document.getElementsByClassName("filter-" + filter)) {
            el.classList.add("filter-active");
        }
    }
</script>
