{% load i18n %}
<div id="footer">
    <div class="footer-legend">
        <div class="footer-legend-past">{% trans 'Spraying took place within 1 week' %}</div>
        <div class="footer-legend-future">{% trans 'Spraying will take place within 24 hours' %}</div>
        <div class="footer-legend-current">{% trans 'Spraying in progress' %}</div>
    </div>
    <div class="footer-copy">
        <div>
            <span>&copy; 2019 – {% now 'Y' %} <a href="https://www.zonybezpesticidov.sk/">Zóny bez pesticídov</a></span>
        </div>
        <div>
            <span>Software: <a href="mailto:jsmesami@gmail.com">Ondřej Nejedlý</a></span>
        </div>
        <div>
            <span>Design: Artfeel</span>
        </div>
    </div>
</div>
