{% load i18n %}
{% load static %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

{% for language in languages %}
    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input type="hidden" name="next" value="{{ redirect_to }}">
        <input type="hidden" name="language" value="{{ language.code }}">
        <button type="submit"
                title="{% trans language.name %}"
                class="btn"
                {% if language.code == LANGUAGE_CODE %}
                    disabled="disabled"
                {% endif %}>
            <img src="{% static 'flags/' %}{{ language.code }}.svg" alt="{{ language.code }}">
        </button>
    </form>
{% endfor %}
