<svg xmlns="http://www.w3.org/2000/svg">
    <symbol id="marker" viewBox="0 0 85.312 100">
        <path fill="#FFF"
              d="M42.656 100c-7.687 0-14.889-1.907-21.408-5.669-6.495-3.748-11.709-8.869-15.497-15.223C1.935 72.705 0 65.602
              0 57.995s1.935-14.709 5.751-21.113c3.789-6.354 9.002-11.476 15.498-15.223a42.254 42.254 0
              018.179-3.634V0h26.458v18.048a42.491 42.491 0 018.097 3.611c6.493 3.745 11.72 8.878 15.533 15.256 3.846 6.431
              5.797 13.523 5.797 21.08 0 7.556-1.95 14.647-5.797 21.08-3.813 6.377-9.04 11.51-15.533 15.256C57.463 98.093
              50.287 100 42.656 100z"></path>
        <g fill="currentColor">
            <circle cx="42.682" cy="58.01" r="6.945"></circle>
            <path d="M74.485 39.923c-3.311-5.536-7.788-9.932-13.432-13.188-3.49-2.013-7.167-3.402-11.029-4.17V5.861H35.289v16.693a35.98
            35.98 0 00-11.111 4.182c-5.644 3.256-10.107 7.638-13.391 13.147-3.283 5.508-4.925 11.545-4.925 18.112s1.642 12.604 4.925
            18.112c3.284 5.509 7.748 9.891 13.391 13.146 5.644 3.257 11.804 4.885 18.479 4.885 6.621 0 12.753-1.628 18.397-4.885
            5.644-3.256 10.121-7.652 13.432-13.187 3.311-5.536 4.966-11.561 4.966-18.072s-1.656-12.536-4.967-18.071zM61.664
            69.147c-1.981 3.419-4.653 6.119-8.018 8.1-3.365 1.98-7.028 2.972-10.99 2.972-4.016
            0-7.707-.991-11.071-2.972-3.365-1.98-6.038-4.681-8.019-8.1-1.981-3.419-2.971-7.137-2.971-11.152s.99-7.733
            2.971-11.153c1.98-3.419 4.653-6.119 8.019-8.1a21.465 21.465 0 013.703-1.727v8.903h14.736v-8.875a21.607 21.607
            0 013.622 1.699c3.364 1.981 6.036 4.681 8.018 8.1 1.98 3.419 2.972 7.137 2.972 11.153s-.991 7.734-2.972 11.152z"></path>
        </g>
    </symbol>
</svg>
