{% load i18n %}
<table class="table table-period table-sm table-borderless">
    {% for period in periods %}
        <tr class="pest"><th>{% trans 'pest kind' %}:</th><td>{{ period.get_pest_kind_display }}</td></tr>
        <tr class="executor"><th>{% trans 'executor' %}:</th><td>{{ period.executor }}</td></tr>
        <tr class="since"><th>{% trans 'from' %}:</th><td>{{ period.since|date:"SHORT_DATETIME_FORMAT" }}</td></tr>
        <tr class="until"><th>{% trans 'to' %}:</th><td>{{ period.until|date:"SHORT_DATETIME_FORMAT" }}</td></tr>
    {% endfor %}
</table>
