{% extends "areas/base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% load leaflet_tags %}

{% block title %}{% trans 'Area Detail' %} | {{ block.super }}{% endblock %}

{% block body_classes %}{{ block.super }} split-view{% endblock %}

{% block content %}
    {% leaflet_map "map" %}
    <div id="sidebar">
        <div class="sidebar-content">
            <h5>{% trans 'Author' %}</h5>
            <p>{{ area.author.organization }}</p>

            <h5>{% trans 'District' %}</h5>
            <p>{{ area.district.name }}</p>

            {% if area.description %}
                <h5>{% trans 'Description' %}</h5>
                <p>{{ area.description }}</p>
            {% endif %}

            {% if user.is_verified and user.pk == area.author.pk %}
                {% buttons %}
                    <a href="{% url 'areas:update' area.pk %}" class="btn btn-primary">{% trans 'Edit' %}</a>
                {% endbuttons %}
            {% endif %}
            {% if periods_current %}
                <div class="table-period-current">
                    <h5>{% trans 'Current spraying periods' %}</h5>
                    {% include "inc/periods_table.html" with periods=periods_current %}
                </div>
            {% endif %}
            {% if periods_future %}
                <div class="table-period-future">
                    <h5>{% trans 'Future spraying periods' %}</h5>
                    {% include "inc/periods_table.html" with periods=periods_future %}
                </div>
            {% endif %}
            {% if periods_past %}
                <div class="table-period-past">
                    <h5>{% trans 'Past spraying periods' %}</h5>
                    {% include "inc/periods_table.html" with periods=periods_past %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include "inc/footer.html" %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% include "inc/js/shape_styles.html" %}
    <script>
        window.addEventListener("map:init", function (e) {
            var map = e.detail.map;
            var areas = {{ json.areas|default:"[]"|safe }};

            L.geoJSON(areas, {
                onEachFeature: function (feature, layer) {
                    map.fitBounds(layer.getBounds());
                    layer.setStyle(shapeStyle[feature.properties.status]);
                }
            }).addTo(map);
        });
    </script>
{% endblock %}
