{% extends "areas/modify.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans 'Update Area' %} | {{ block.super }}{% endblock %}

{% block areas %}
    <h3>{% trans 'Update area' %}</h3>

    {% for field in form.hidden_fields %}
        {% if field.errors %}
            {% include 'bootstrap4/form_errors.html' with errors=field.errors %}
        {% endif %}
    {% endfor %}

    <form class="areas-modify-form" method="post">
        {% csrf_token %}
        {% bootstrap_form form alert_error_type='all' %}

        <h6>{% trans 'Spraying periods' %}</h6>
        {% bootstrap_formset periods layout='horizontal' %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
            <a href="{% url 'areas:detail' area.pk %}" class="btn btn-link">{% trans 'Cancel' %}</a>
        {% endbuttons %}
    </form>
{% endblock %}
