{% extends 'accounts/base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans 'Set New Password' %} | {{ block.super }}{% endblock %}

{% block accounts %}
    {% if validlink %}
        <h3>{% trans 'Set new password' %}</h3>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">{% trans 'Set new password' %}</button>
            {% endbuttons %}
        </form>
    {% else %}
        <h3>{% trans 'Password reset failed' %}</h3>
        {% url "accounts:password-reset" as reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request <a href="{{ reset_url }}">a new password reset</a>.{% endblocktrans %}</p>
    {% endif %}
{% endblock %}
