{% extends 'accounts/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Password Reset Complete' %}{{ block.super }}{% endblock %}

{% block accounts %}
    <h3>{% trans 'You have successfully changed your password.' %}</h3>
    <p><a href="{% url 'accounts:sign-in' %}">{% trans 'Sign in' context 'infinitive' %}</a></p>
{% endblock %}
