{% extends 'accounts/base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans 'Reset Password' %} | {{ block.super }}{% endblock %}

{% block accounts %}
    <h3>{% trans 'Reset password' %}</h3>
    <p>{% trans "Enter your email address that you used to sign up. We'll send you an email with a link to reset your password." %}</p>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">{% trans 'Reset password' %}</button>
        {% endbuttons %}
    </form>
{% endblock %}
