{% extends 'accounts/base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans 'Change Password' %} | {{ block.super }}{% endblock %}

{% block accounts %}
    <h3>{% trans 'Change password' %}</h3>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">{% trans 'Change password' %}</button>
        {% endbuttons %}
    </form>
{% endblock %}
