{% extends 'accounts/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Password Reset' %} | {{ block.super }}{% endblock %}

{% block accounts %}
    <h3>{% trans 'Your password was reset.' %}</h3>
    <p>{% trans "We've emailed you instructions for setting new password. If they haven't arrived in a few minutes, check your spam folder." %}</p>
{% endblock %}
