{% extends 'accounts/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Password Changed' %}{{ block.super }}{% endblock %}

{% block accounts %}
    <h3>{% trans 'Your password has been changed.' %}</h3>
    <p><a href="{% url 'home' %}">{% trans 'Go to the map' %}</a>.</p>
{% endblock %}
