{% extends 'accounts/base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans 'Sign Up' %} | {{ block.super }}{% endblock %}

{% block accounts %}
    <h3>{% trans 'Sign up' %}</h3>

    <p><strong>{% trans 'Sign-up is required only for map editors and is not necessary for using the map.' %}</strong></p>

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">{% trans 'Sign up' %}</button>
        {% endbuttons %}
    </form>
{% endblock %}
