{% extends 'accounts/base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans 'Account Confirmation' %} | {{ block.super }}{% endblock %}

{% block accounts %}
    {% if link_valid %}
        <h3>{% trans 'Account confirmation for' %} {{ user.email }}</h3>
        {% with username=user.get_full_name email=user.email %}
            <p>
                {% blocktrans %}Please confirm that email {{ email }} belongs to user {{ username }}.{% endblocktrans %}
            </p>
        {% endwith %}
        <form method="post" action="{% url 'accounts:sign-up-complete' %}">
            {% csrf_token %}
            <input type="hidden" name="uidb64" value="{{ uidb64 }}">
            <input type="hidden" name="token" value="{{ token }}">
            <button type="submit" class="btn btn-primary">{% trans "Confirm" %}</button>
        </form>
    {% else %}
        <h3>{% trans 'Account confirmation failed.' %}</h3>
        <p>{% blocktrans %}The confirmation link was invalid, possibly because it has already been used. Please contact us at <a href="mailto:info@zonybezpesticidov.sk?subject=Confirmation link invalid">info@zonybezpesticidov.sk</a>.{% endblocktrans %}</p>
    {% endif %}
{% endblock %}
