{% extends 'accounts/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Account Confirmation' %} | {{ block.super }}{% endblock %}

{% block accounts %}
    {% if confirmation_valid %}
        <h3>{% trans 'Account confirmation successful' %}</h3>
        <p>{% blocktrans with username=user.get_full_name %}You are signed in as {{ username }}{% endblocktrans %}</p>
        <p><strong>{% trans 'Please stand by for manual verification to be able to add areas to the map.' %}</strong></p>
        <p>{% trans 'You will be notified by email when your verification is ready.' %}</p>
        <p><a href="{% url 'home' %}">{% trans 'Go to the map' %}</a>.</p>
    {% else %}
        <h3>{% trans 'Account confirmation failed.' %}</h3>
        <p>{% blocktrans %}The confirmation link was invalid, possibly because it has already been used. Please contact us at <a href="mailto:info@zonybezpesticidov.sk?subject=Confirmation link invalid">info@zonybezpesticidov.sk</a>.{% endblocktrans %}</p>
    {% endif %}
{% endblock %}
