{% extends 'accounts/base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans 'Sign In' %} | {{ block.super }}{% endblock %}

{% block accounts %}
    <h3>{% trans 'Sign in' %}</h3>

    <p><strong>{% trans 'Sign-in is required only for map editors and is not necessary for using the map.' %}</strong></p>

    {% if form.errors %}
        <p>{% trans "Your email and password didn't match. Please try again." %}</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>{% trans "Your account doesn't have access to this page. To proceed, please sign in with an account that has access." %}</p>
        {% else %}
            <p>{% trans "Please sign in to see this page." %}</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'accounts:sign-in' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="hidden" name="next" value="{{ next }}">
        {% buttons %}
            <button type="submit" class="btn btn-primary">{% trans 'Sign in' context 'infinitive' %}</button>
        {% endbuttons %}
    </form>

    <p><a href="{% url 'accounts:sign-up' %}">{% trans "Don't have an account?" %}</a></p>
    <p><a href="{% url 'accounts:password-reset' %}">{% trans "Lost your password?" %}</a></p>

{% endblock %}
