{% extends 'accounts/base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans 'Account Verification' %} | {{ block.super }}{% endblock %}

{% block body_classes %}accounts-verification{% endblock %}

{% block accounts %}
    <h3>{% trans 'Account verification for' %} {{ user.email }}</h3>

    <table class="table table-sm table-borderless">
        <tr>
            <th>{% trans 'first name' %}</th>
            <td>{{ user.first_name }}</td>
        </tr>
        <tr>
            <th>{% trans 'last name' %}</th>
            <td>{{ user.last_name }}</td>
        </tr>
        <tr>
            <th>{% trans 'organization' %}</th>
            <td>{{ user.organization }}</td>
        </tr>
        <tr>
            <th>{% trans 'phone' %}</th>
            <td>{{ user.phone }}</td>
        </tr>
        <tr>
            <th>{% trans 'email address' %}</th>
            <td>{{ user.email }}</td>
        </tr>
    </table>
    {% with user_verified=user.is_verified %}
        {% if user_verified %}
            <p>{% trans 'User is verified.' %}</p>
        {% else %}
            <p>{% trans 'User is not verified.' %}</p>
        {% endif %}

        {% buttons %}
            <form method="post" action="{% url 'accounts:sign-up-verify' user.pk %}">
                {% csrf_token %}
                <input type="hidden" name="declined" value="true">
                <button type="submit" class="btn btn-outline-warning">{% trans "Decline" %}</button>
            </form>

            {% if not user_verified %}
                <form method="post" action="{% url 'accounts:sign-up-verify' user.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="verified" value="true">
                    <button type="submit" class="btn btn-primary">{% trans "Verify" %}</button>
                </form>
            {% endif %}
        {% endbuttons %}
    {% endwith %}
{% endblock %}
