{% extends 'accounts/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Signed Up' %} | {{ block.super }}{% endblock %}

{% block accounts %}
    <h3>{% trans 'Thank you for signing up.' %}</h3>
    <p>{% trans 'Please check your email for a confirmation link.' %}</p>
{% endblock %}
