{% extends 'accounts/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Signed Out' %} | {{ block.super }}{% endblock %}

{% block accounts %}
    <h3>{% trans 'You have been signed out.' %}</h3>
    <p><a href="{% url 'accounts:sign-in' %}">{% trans 'Sign in again' %}</a></p>
{% endblock %}
