{% extends "http_errors.html" %}
{% load i18n %}

{% block title %} 403 | {{ block.super }}{% endblock %}

{% block error_title %}{% trans 'Forbidden' %}{% endblock %}

{% block error_description %}
    {% if user.is_authenticated %}
        <p>{% trans "Your account doesn't have access to this page. To proceed, please sign in with an account that has access." %}</p>
    {% else %}
        <p>{% trans "Please sign in to see this page." %}</p>
    {% endif %}
{% endblock %}
