{% extends "http_errors.html" %}
{% load i18n %}

{% block title %} 500 | {{ block.super }}{% endblock %}

{% block error_title %}{% trans 'Server error' %}{% endblock %}

{% block error_description %}
    <p>{% trans 'Admins were notified and the problem will be fixed soon.' %}</p>
    <p>{% blocktrans %}For any help, please contact us at <a href="mailto:info@zonybezpesticidov.sk?subject=Server error">info@zonybezpesticidov.sk</a>.{% endblocktrans %}</p>
{% endblock %}
