<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="author" content="Ondřej Nejedlý">
    <meta name="description" content="{% trans 'Information system on pesticide use' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicons/safari-pinned-tab.svg' %}" color="#b63a48">
    <link rel="shortcut icon" href="{% static 'favicons/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="ISOPP">
    <meta name="application-name" content="ISOPP">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-config" content="{% static 'favicons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'css/isopp.css' %}">
    <link rel="stylesheet" href="{% static 'awesome/css/font-awesome.min.css' %}">
    {% block css %}
    {% endblock %}
    {% block analytics %}
    {% endblock %}
    <title>{% block title %}ISOPP{% endblock %}</title>
</head>
<body class="{% block body_classes %}{% endblock %}">
    {% if MAINTENANCE_MODE %}
        {% block maintenance %}
        {% endblock %}
    {% else %}
        {% block navigation %}
        {% endblock %}

        {% block messages %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
        {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js"
            integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA="
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
            integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
            crossorigin="anonymous"></script>

        {% block js %}
        {% endblock %}
    {% endif %}
</body>
</html>
