{% extends "base.html" %}
{% load i18n %}
{% load leaflet_tags %}

{% block css %}
    {% leaflet_css %}
{% endblock %}

{% block title %}{% trans 'About' %} | {{ block.super }}{% endblock %}

{% block body_classes %}about split-view{% endblock %}

{% block nav_about %}active{% endblock %}

{% block content %}
    {% leaflet_map "map" %}
    {% include "inc/filter.html" %}
    <div id="sidebar">
        <div class="sidebar-content">
            <h5>{% trans 'What is ISOPP?' %}</h5>
            <p> {% blocktrans trimmed %}
                Information system on pesticide use is an online-based system for mediating public information regarding
                the application of pesticides in urban and rural areas of cities and villages.
                {% endblocktrans %}</p>
            <p> {% blocktrans trimmed %}
                The operating principle of the system is that actors (persons and institutions that apply pesticides,
                such as farmers, foresters, municipal authorities, railway operators, etc.) provide data concerning the
                place and time of spraying, while the system displays the area, date and information on "actors".
                {% endblocktrans %}</p>
            <p> {% blocktrans trimmed %}
                Thanks to a clear and simple user interface, information is displayed to citizens on a comprehensible
                map, free of charge and without the need for registration.
                {% endblocktrans %}</p>
            <h6>{% trans 'Project goals' %}</h6>
            <ul>
                <li>{% blocktrans trimmed %}
                    to provide public with the information on planned spraying before it is carried out, so that the
                    public
                    can avoid the sites in question to protect their health from the negative effects of pesticides and
                    also to protect domestic or livestock animals (including hives)
                    {% endblocktrans %}</li>
                <li>{% blocktrans trimmed %}
                    to provide an easy and accessible way to obtain information on pesticide use
                    {% endblocktrans %}</li>
                <li>{% blocktrans trimmed %}
                    to increase awareness of pesticide application in the Slovak Republic
                    {% endblocktrans %}</li>
            </ul>
            <p><strong>
                {% blocktrans trimmed %}
                For more information about pesticides and other projects of the civic association Zones Without
                Pesticides, please visit <a href="https://www.zonybezpesticidov.sk/">www.zonybezpesticidov.sk</a>.
                {% endblocktrans %}
            </strong></p>
            <h6>{% trans 'Contact' %}</h6>
            <p>Škovránčia 2956/3<br>81106 Bratislava</p>
            <p><a href="mailto:info@zonybezpesticidov.sk">info@zonybezpesticidov.sk</a></p>
            <p><a href="tel:00421915245763">+421 915 245 763</a></p>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include "inc/footer.html" %}
{% endblock %}

{% block js %}
    {% leaflet_js %}
    {% include "inc/js/map.html" %}
    {% include "inc/js/timeout.html" %}
{% endblock %}
