{% extends "_base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}

{% block analytics %}
    {% if not DEBUG %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-6140888-21"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-6140888-21');
    </script>
    {% endif %}
{% endblock %}

{% block messages %}
    {% if messages %}
        <div id="messages">
            {% bootstrap_messages %}
        </div>
    {% endif %}
{% endblock %}

{% block navigation %}
    {% with user_is_verified=user.is_verified user_is_authenticated=user.is_authenticated %}
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand color-brand" title="Informačný systém o používaní pesticídov" href="{% url 'home' %}?ResetMap=True">
                <img class="navbar-logo"
                     src="{% static 'logo.svg' %}"
                     alt="logo"
                ><span class="navbar-desc">
                    {% trans 'Information system on&nbsp;pesticide use' %}
                </span>
            </a>
            {% block navigation_items %}
                <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navigation"
                        aria-controls="navigation"
                        aria-expanded="false"
                        aria-label="{% trans 'Toggle navigation' %}">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link {% block nav_about %}{% endblock %}" href="{% url 'about' %}">
                                {% trans 'About' %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block nav_legend %}{% endblock %}" href="{% url 'legend' %}">
                                {% trans 'Legend' %}
                            </a>
                        </li>
                        {% if user_is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link {% block nav_my_account %}{% endblock %}" href="{% url 'my-account' %}">
                                    {% trans 'My account' %}
                                    {% if user_is_verified %}
                                        <i class="fa fa-check-circle text-success" title="{% trans 'Verified user' %}"></i>
                                    {% else %}
                                        <i class="fa fa-times-circle text-danger" title="{% trans 'Unverified user' %}"></i>
                                    {% endif %}
                                </a>
                            </li>
                            {% if user_is_verified %}
                                <li class="nav-item">
                                    <a class="nav-link {% block nav_create %}{% endblock %}" href="{% url 'areas:create' %}">
                                        {% trans 'Create area' %}
                                    </a>
                                </li>
                            {% endif %}
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link {% block nav_sign_in %}{% endblock %}" href="{% url 'accounts:sign-in' %}">
                                    {% trans 'Sign in' context 'infinitive' %}
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item languages">
                            {% include 'inc/languages.html' %}
                        </li>
                    </ul>
                </div>
            {% endblock navigation_items %}
        </nav>
    {% endwith %}
{% endblock navigation %}
