{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Error' %} | {{ block.super }}{% endblock %}

{% block content %}
    <div class="container-errors container-fluid">
        <h3>{% block error_title %}{% endblock %}</h3>
        {% block error_description %}{% endblock %}
    </div>
{% endblock %}
