{% extends "base.html" %}
{% load i18n %}
{% load leaflet_tags %}

{% block css %}
    {% leaflet_css %}
{% endblock %}

{% block title %}{% trans 'Legend' %} | {{ block.super }}{% endblock %}

{% block body_classes %}legend split-view{% endblock %}

{% block nav_legend %}active{% endblock %}

{% block content %}
    {% leaflet_map "map" %}
    {% include "inc/filter.html" %}
    <div id="sidebar">
        <div class="sidebar-content">
            <h5>{% trans 'Legend' %}</h5>
            <div class="legend-bar legend-bar-past"></div>
            <p>{% trans 'If the area is marked in green, it means that the spraying took place a week ago or earlier.' %}</p>
            <div class="legend-bar legend-bar-future"></div>
            <p>{% trans 'If the area is marked in orange, it means that the spraying will take place one day or earlier.' %}</p>
            <div class="legend-bar legend-bar-current"></div>
            <p>{% trans 'If the area is marked in red, it means that the spraying is taking place right now.' %}</p>
            <svg class="legend-symbol"><use xlink:href='#marker'></use></svg>
            <p>{% trans 'This symbol indicates areas that have been, are, or going to be affected by spraying.' %}</p>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include "inc/footer.html" %}
{% endblock %}

{% block js %}
    {% leaflet_js %}
    {% include "inc/js/map.html" %}
    {% include "inc/js/timeout.html" %}
{% endblock %}
