{% extends "_base.html" %}
{% load i18n %}

{% block maintenance %}

    <div class="container">
        <h1 class="d-flex justify-content-center mt-5">{% trans "Coming soon" %}</h1>
    </div>

{% endblock %}
