{% extends "base.html" %}
{% load i18n %}
{% load leaflet_tags %}

{% block css %}
    {% leaflet_css %}
{% endblock %}

{% block title %}{% trans 'My Account' %} | {{ block.super }}{% endblock %}

{% block body_classes %}my-account split-view{% endblock %}

{% block nav_my_account %}active{% endblock %}

{% block content %}
    {% leaflet_map "map" %}
    <div id="sidebar">
        <div class="sidebar-content">
            <h5>{% trans 'You are signed in as' %}</h5>
            <p>{{ user.get_full_name }} ({{ user.email }})</p>

            <h5>{% trans 'Organization' %}</h5>
            <p>{{ user.organization }}</p>

            <h5>{% trans 'Links' %}</h5>
            <p><a href="{% url 'accounts:sign-out' %}">{% trans 'Sign out' %}</a></p>
            <p><a href="{% url 'accounts:password-change' %}">{% trans 'Change password' %}</a></p>
            {% if user.is_staff %}
                <p><a href="{% url 'admin:index' %}">{% trans 'Administration' %}</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include "inc/footer.html" %}
{% endblock %}

{% block js %}
    {% leaflet_js %}
    {% include "inc/js/map.html" %}
{% endblock %}
