@import "variables";

.leaflet-popup {
    .leaflet-popup-content-wrapper {
        box-shadow: none;
        border-radius: 0;
        min-width: 15rem;
    }
    a.leaflet-popup-close-button {
        color: $body-color !important;
    }
    .leaflet-popup-content {
        color: $body-color;
    }
    .leaflet-popup-tip {
        box-shadow: none;
    }
    .status {
        &-current {
            color: $color-current;
        }
        &-future {
            color: $color-future;
        }
        &-past {
            color: $color-past;
        }
        &-inactive {
            color: $color-inactive;
        }
    }
    .more {
        height: 0;
        text-align: right;
        a.btn {
            color: $white;
            text-decoration: none;
        }
    }
}

.leaflet-control-locate-location-arrow::after {
    content: "\f05b";
    font-family: FontAwesome;
    font-size: 1.2rem;
    line-height: 2rem;
}
