@use "sass:math";

$red: #bf212f;
$orange: #ffaa3e;
$green: #27b376;
$gray-600: #6C757D;

$brand-color: $red;
$primary: $red;
$secondary: $orange;
$tertiary: $green;
$danger: $red;

$color-current: $red;
$color-future: $orange;
$color-past: $green;
$color-inactive: $gray-600;

$body-color: $red;
$link-color: $red;
$link-decoration: underline;

$zindex-background: 0;
$zindex-content: 100;
$zindex-messages: 200;

$border-radius: 0;

$one-third-vw: math.div(100vw, 3);

$nav-height: 5rem;
$menu-width: $one-third-vw;
$footer-legend-height: 5rem;
$footer-copy-height: 5rem;
$footer-height: $footer-legend-height + $footer-copy-height;
$sidebar-width: $one-third-vw;

$headings-margin-bottom: 1rem;

$font-family-base: Montserrat, Roboto, San Francisco, Calibri, Helvetica, sans-serif !default;
$headings-font-weight: bold !default;

$form-group-margin-bottom: 1.5rem;
