@import "fonts";
@import "bootstrap";
@import "leaflet";

.container-areas,
.container-accounts,
.container-errors {
    margin-top: 2rem;
    max-width: 768px;
}

.color-brand {
    color: $brand-color;
}

.navbar {
    $nav-underline: inset 0 0 0 transparent, inset 0 -4px 0 $primary;
    height: $nav-height;
    padding: 0 1rem 0 2rem;
    color: $secondary;
    font-weight: bold;
    &-brand {
        line-height: 25px;
        padding-top: 0;
    }
    &-logo {
        width: 100px;
        margin-right: 1rem;
    }
    &-desc {
        display: inline-block;
        width: 10rem;
        padding-left: 1rem;
        border-left: 2px solid $secondary;
        color: $secondary;
        font-size: 0.7rem;
        line-height: 0.7rem;
        text-decoration: none;
        white-space: normal;
        overflow-wrap: break-word;
        vertical-align: bottom;
    }
    &-toggler {
        color: $primary;
    }
    .nav-link {
        padding: 0.5rem 0 !important;
        margin: 0 1rem;
        text-decoration: none;
        color: $secondary;
        @include hover-focus-active {
            color: darken($secondary, 10%);
            box-shadow: $nav-underline;
        }
        &.active {
            pointer-events: none;
            box-shadow: $nav-underline;
        }
    }
    .nav-item.languages form {
        display: inline-block;
        .btn {
            border: 0;
            padding: 0.5rem 1rem;
            width: 3.5rem;
            &:disabled {
                opacity: 0.5;
            }
        }
    }
}

#map {
    position: fixed;
    top: $nav-height;
    left: 0;
    right: 0;
    bottom: $footer-height;
    z-index: $zindex-background;
    .marker-icon {
        width: 3rem !important;
        height: 3rem !important;
        margin-left: -1.5rem !important;
        margin-top: -1.5rem !important;
        text-align: center;
        i {
            font-size: 3rem;
        }
        svg {
            width: 3rem;
            height: 3rem;
        }
        &-future {
            color: $color-future;
        }
        &-current {
            color: $color-current;
        }
        &-past {
            color: $color-past;
        }
        &-inactive {
            color: $color-inactive;
        }
    }
    .leaflet-popup-content {
        margin: 1rem;
        p {
            margin: 0.5rem 0;
        }
        p.description {
            padding-left: .5rem;
            border-left: 2px solid $secondary;
        }
    }
}

#filter {
    position: absolute;
    right: 0;
    top: $nav-height;
    .filter {
        display: block;
        width: 3rem;
        height: 3rem;
        margin: .5rem .5rem 0 0;
        padding: .5rem;
        background-color: white;
        border-radius: 50%;
        text-decoration: none;
        transition: 250ms background-color;
        &:hover, &:active {
            transition: 250ms background-color;
        }
        .fa {
            display: block;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            text-align: center;
            line-height: 2rem;
            color: white;
        }
        &-current {
            &:hover, &:active, &.filter-active {
                background-color: $color-current;
            }
            .fa {
                background-color: $color-current;
            }
        }
        &-future {
            &:hover, &:active, &.filter-active {
                background-color: $color-future;
            }
            .fa {
                background-color: $color-future;
            }
        }
        &-past {
            &:hover, &:active, &.filter-active {
                background-color: $color-past;
            }
            .fa {
                background-color: $color-past;
            }
        }
        &-inactive {
            &:hover, &:active, &.filter-active {
                background: $color-inactive;
            }
            .fa {
                background: $color-inactive;
            }
        }
    }
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: $footer-height;
    font-weight: bold;
    .footer-legend {
        height: $footer-legend-height;
        display: flex;
        align-items: stretch;
        font-size: 90%;
        color: white;
        > * {
            width: $one-third-vw;
            display: flex;
            padding: 0 1rem;
            align-items: center;
            justify-content: center;
        }
        &-past {
            background: $color-past;
        }
        &-future {
            background: $color-future;
        }
        &-current {
            background: $color-current;
        }
    }
    .footer-copy {
        height: $footer-copy-height;
        display: flex;
        align-items: stretch;
        font-size: 80%;
        color: $secondary;
        background: white;
        a {
            color: $secondary;
            @include hover-focus-active {
                color: darken($secondary, 10%);
            }
        }
        > * {
            width: $one-third-vw;
            display: flex;
            padding: 0 1rem;
            align-items: center;
            justify-content: center;
        }
    }
}

.split-view {
    #map {
        right: $sidebar-width;
    }
    #id_boundary-map {
        height: 25rem;
        z-index: $zindex-background;
        .leaflet-draw-draw-polygon {
            border-bottom: none;
        }
        .leaflet-draw-draw-rectangle {
            display: none;
        }
    }
    #filter {
        right: #{$sidebar-width};
    }
    #sidebar {
        position: fixed;
        top: $nav-height;
        left: calc(100vw - #{$sidebar-width});
        right: 0;
        bottom: $footer-height;
        z-index: $zindex-content;
        background: white;
        padding: 2rem;
        overflow-y: auto;
    }
    .table-period {
        th, td {
            padding-left: 0;
            padding-right: 0.6rem;
        }
        &-current {
            table, h5 {
                color: $color-current;
            }
        }
        &-future {
            table, h5 {
                color: $color-future;
            }
        }
        &-past {
            table, h5 {
                color: $color-past;
            }
        }
    }
}

.legend {
    .legend-bar {
        height: 1rem;
        margin-bottom: 0.5rem;
        &-current {
            background: $color-current;
        }
        &-future {
            background: $color-future;
        }
        &-past {
            background: $color-past;
        }
    }

    .legend-symbol {
        width: 3rem;
        height: 3rem;
        margin-bottom: 0.5rem;
    }
}

.accounts-verification {
    form {
      display: inline-block;
    }
}

label {
    color: $gray-900;
}

.btn, a.btn {
    text-decoration: none;
    font-weight: bold;
    &.btn-link {
        text-decoration: underline;
    }
}

#messages {
    padding: 1rem;
    z-index: $zindex-messages;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.areas-modify-form {
    label[for="id_boundary"],
    label[for="id_district"],
    label[for="id_description"] {
        font-weight: bold;
        color: $primary;
    }
}

.areas-modify-form .formset-form {
    border-bottom: 1px dashed $gray-400;
    margin-bottom: 1.5rem;
}

@include media-breakpoint-down(md) {
    #navigation {
        position: absolute;
        top: $nav-height;
        right: 0;
        z-index: $zindex-dropdown;
        background-color: white;
        min-width: $menu-width;
        text-align: right;
        padding-bottom: 0.5rem;
        .nav-link {
            display: inline-block;
        }
    }
}

@include media-breakpoint-down(sm) {
    .navbar {
        padding: 0 1rem;
    }
    #navigation {
        left: 0;
        text-align: left;
    }
    #footer {
        display: none;
    }
    #map {
        bottom: 0;
    }
    .split-view {
        #map {
            right: 0;
            bottom: 30vh;
        }
        #filter {
            right: 0;
        }
        #sidebar {
            left: 0;
            top: 70vh;
            bottom: 0;
        }
    }
}

@media (min-width: 62rem) and (max-width: 75rem) {
    .navbar-desc {
       display: none;
    }
}

@media (max-width: 23rem) {
    .navbar-desc {
       display: none;
    }
}

@media (max-height: 33rem) {
    #footer {
        display: none;
    }
    #map {
        bottom: 0;
    }
    #sidebar {
        bottom: 0;
    }
}
