{% load i18n %}

{% include "inc/marker.html" %}
{% include "inc/js/shape_styles.html" %}
<script>
    let zoomBreakpoint = 15;

    function createPopup(properties) {
        let $popup = $("<div></div>");

        {# author's organization #}
        $popup.append("<p><b>{% trans 'Author' %}:</b> " + properties.author.org + "</p>");

        {# area's district #}
        $popup.append("<p><b>{% trans 'District' %}:</b> " + properties.district + "</p>");

        {# description (if not empty) #}
        if (properties.description.length) {
            $popup.append("<p class='description'>" + properties.description + "</p>");
        }

        {# periods list #}
        let $periods = $("<dl>");
        $.each(properties.periods, function(i, period) {
            $periods.append($("<dt>" + period.exec + ":</dt>").addClass("status-" + period.status));
            $periods.append($("<dd>" + period.since + " &mdash; " + period.until + "</dd>").addClass("status-" + period.status));
        });
        $popup.append($periods);

        {# detail link #}
        $popup.append("<div class='more'><a class='btn btn-primary' href='/areas/detail/" + properties.pk + "/'>{% trans 'More' %}</a></div>");

        return $popup[0];
    }

    function createMarker(center, status) {
        let markerIcon = L.divIcon({
            className: "marker-icon marker-icon-" + status,
            html: "<svg><use xlink:href='#marker'></use></svg>",
        });

        return L.marker(center, {
            icon: markerIcon,
        });
    }

    function saveState(map) {
        let state = {
            center: map.getCenter(),
            zoom: map.getZoom(),
        }
        window.sessionStorage.setItem("mapState", JSON.stringify(state));
    }

    function loadState(map) {
        let state = JSON.parse(window.sessionStorage.getItem("mapState"));
        if (state) {
            map.setView(state.center, state.zoom);
        }
    }

    function resetState(map, url) {
        url.searchParams.delete("ResetMap");
        window.history.pushState({}, "", url);
        map.setView(L.latLng(48.6943302, 19.6994499), 8);
    }

    window.addEventListener("map:init", function (e) {
        let map = e.detail.map;
        let url = new URL(window.location);
        let locateControl = L.control.locate().addTo(map);
        let searchControl = L.esri.Geocoding.geosearch().addTo(map);
        let searchResults = L.layerGroup().addTo(map);
        let areas = {{ json.areas|default:"[]"|safe }};

        if (url.searchParams.get("ResetMap")) {
            resetState(map, url);
            saveState(map);
        } else {
            loadState(map);
        }

        L.geoJSON(areas, {
            onEachFeature: function (feature, layer) {
                let center = layer.getBounds().getCenter();
                let status = feature.properties.status;
                let marker = createMarker(center, status);
                let popup = createPopup(feature.properties);

                layer.bindPopup(popup).setStyle(shapeStyle[status]);

                marker.on("click", function (e) {
                    map.setView(center, zoomBreakpoint);
                });

                if (map.getZoom() < zoomBreakpoint) {
                    marker.addTo(map);
                } else {
                    layer.addTo(map);
                }

                map.on("zoomend", function (e) {
                    if (map.getZoom() < zoomBreakpoint) {
                        layer.remove();
                        marker.addTo(map);
                    } else {
                        layer.addTo(map);
                        marker.remove();
                    }
                    saveState(map);
                });

                map.on("moveend", function (e) {
                    saveState(map);
                })
            },
        });

        searchControl.on("results", function (data) {
            searchResults.clearLayers();

            data.results.forEach(function(res) {
                let markerIcon = L.divIcon({
                    className: "marker-icon",
                    html: "<i class='fa fa-map-marker text-info'>",
                });

                searchResults.addLayer(L.marker(res.latlng, {icon: markerIcon}));
            });
        });
    });
</script>
